@{
    ViewData["Title"] = "Cadastrar Item de Pedido";
}

<div class="text-center">

    <div class="text-center">
        <h1 class="display-4">Cadastrar fornecedor:</h1>
    </div>
</div>

<br>
<br>



<form>

    <fieldset>

        <label for="id">Id itens:</label>
        <input type="text" id="itens" name="itens">

        <label for="id">Id do pedido:</label>
        <input type="text" id="id" name="id">

        <label for="produto">Id do produto:</label>
        <input type="text" id="produto" name="produto">

        <br>

        <label for="Quantidade">Quantidade:</label>
        <input type="text" id="Quantidade" name="Quantidade">

        <label for="Valor">Valor:</label>
        <input type="number" id="Valor" name="Valor">
    </fieldset>
</form>