@{
    ViewData["Title"] = "Confirmação de apagar Fornecedor";
}

    <div class="text-center"> 
        <h3>Deseja apagar esse fornecedor ?</h3>
    </div>

<div class="text-center">
    <a class="btn btn-primary btn-block" role="button" asp-controller="Fornecedores" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" role="button" asp-controller="Fornecedores" asp-action="Apagar">Confirmar exclusão</a>
</div>