@{
    ViewData["Title"] = "Página Inicial";
}

<br>
<br>

<div class="text-center">
    <h1 class="display-4">Bem-vindo funcionário!</h1>
    <p>Selecione as opções no Menu acima.</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<footer class="border-top footer text-muted">
    <div class="d-flex justify-content-end">
        <p>Desenvolvido por Caique Reis.</p>
    </div>
</footer>