@{
    ViewData["Title"] = "Sobre Mim";
}

<div class="text-center">

<h3>Caique Reis Coelho</h3>

<p>
    Olá, eu sou Caíque, tenho 19 anos e
    moro na zona sul de São Paulo.
</p>

<p>
    Estou buscando oportunidades de
    trabalho dentro da <strong>aréa de Programação</strong> para
    evoluir em minha carreira profissional.
</p>

    <p>
        Tenho como principais qualidades a disposição de sempre querer aprender mais e enfrentar novos desafios,
        gosto de trazer inovações em qualquer ambiente no qual estou inserido, esses pontos são os responsáveis por eu
        escolher mergulhar no universo da tecnologia.
    </p>

<p>
    Atualmente estou no 3 semestre de
    Análise de Sistemas na <strong>
        Universidade
        Paulista (UNIP)
    </strong>, também estou ingressado na
    plataforma de cursos da <strong>Alura</strong> em
    cursos voltados para linguagens de
    programação front e backend, na Alura já
    tenho as certificões de 
        <strong>Iniciante em programação,</strong>
        <strong>Redes de Computadores,</strong>
        <strong>Aprendendo a Programar com C#</strong>
        <strong> e Fundamentos de SQL Sever.</strong>
</p>

<p>
    Como experiencia profissional,
    atualmente estou trabalhando como
    estágiario de redes na <strong>Mundivox</strong>
    uma empresa nacinal de telecomunicações,
    tenho como funções o atendimento ao cliente para 
    diagnósticos de
    redes, correções de falhas de segurança em roteadores,
    atividades internas de melhoramento
    de dinâmicas do suporte, configuração de
    equipamentos Mikrotik e Cisco, e criação de páginas em
    HTML e CSS.
</p>



</div>