@{
    ViewData["Title"] = "Confirmação de apagar Produto";
}

<div class="text-center">
    <h3>Deseja apagar esse Produto ?</h3>
</div>

<div class="text-center">
    <a class="btn btn-primary btn-block" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" role="button">Confirmar exclusão</a>
</div>