@{
    ViewData["Title"] = "Cadastrar Produto";
}

<div class="text-center">

    <div class="text-center">
        <h1 class="display-4">Cadastrar Produto:</h1>
    </div>
</div>

<br>
<br>

<form>
    <fieldset>
        <label for="produto">Id do produto:</label>
        <input type="text" class="form-control" id="produto" name="produto">

        <label for="Unidade">Unidade:</label>
        <input type="text" class="form-control" id="Unidade" name="Unidade">

        <label for="Descrição">Descrição:</label>
        <input type="text" class="form-control" id="Descrição" name="Descrição">
    </fieldset>

    <br>
    <br>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" asp-controller="Produtos" asp-action="Index" role="button">Voltar</a>


</form>